@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

.forecast-summaries {
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  font-family: "Open Sans Condensed", sans-serif;
}

.onSelect {
  border-radius: 25px;
}

@media only screen and (min-width: 751px) and (max-width: 1025px) {
  .forecast-summaries {
    margin-top: 7.5%;
  }
}

@media only screen and (max-width: 750px) {
  .forecast-summaries {
    margin-top: 10%;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 150%;
  }
}
